---
import TypingIndicator from './Tipyng.astro';
---
<div id="chat-container" class="flex-1 overflow-y-auto p-4 space-y-3 bg-[#efe7de] shadow-inner custom-scrollbar relative">
  <div class="flex justify-start">
    <div class="bg-white p-3 rounded-lg rounded-tl-none shadow-sm max-w-[80%] text-sm">
      ¡Hola! Soy Stalin IA. ¿En qué puedo ayudarte hoy?
    </div>
  </div>

  <TypingIndicator />
</div>

<style>
  .custom-scrollbar::-webkit-scrollbar { width: 6px; }
  .custom-scrollbar::-webkit-scrollbar-thumb { background: #ced3d6; }
</style>